.scroll-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;

    button {
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: $lightGreen;
        border: 0;
        border-radius: 5px;
        color: color(customWhite);
        cursor: pointer;
        display: flex;
        font-size: 2rem;
        justify-content: center;
        align-items: center;
        opacity: 0.75;
        outline: 0;
        height: 40px;
        width: 60px;

        &:hover,
        &:focus {
            opacity: 1;
            outline: 0;
        }
    }
}
